@charset "UTF-8";

.msg{
	position: fixed;
	right: 100px;
	top: 20px;
	background-color: #68b32d;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
	z-index: 1;
	border-bottom: 5px solid #dddddd;
	overflow: hidden;
	height: 32px;
	width: 32px;
	padding: 20px;
	
	&.ouvert{
		width: 400px;
		height: 400px;
		overflow-y: scroll;
		background: #ddd;
		border: none;
	}

	.bouton-msg{
		color:#000000;
		
		@include transition(0.2s);
		
		&:hover{
			color: #dddddd;
		}
	}
	
	&.ouvert .bouton-msg:hover{
		color: #68b32d;
	}
	
	h2, h3{
		font-family: roboto;
		border: none;
		color: black;
	}
	
	h2{
		font-size: 24px;
	}

	p{
		font-size: 16px;
	}

	textarea{
		background: #bbb;
		border: none;
	}

	input[type="submit"]{
		background: #68b32d;
		appearance: none;
		border: none;
		padding: 10px;
		color: #ddd;
		
		@include transition(0.2s);
		
		&:hover{
			background: #499010;
		}
	}
}

.changements {
	padding-bottom: 20px;
	
	h2{
		color: black;
		font-family: Roboto;
		font-size: 20px;
		border-bottom: none;
	}
}