/* CSS POUR LA NAVIGATION */

/* Navigation ordinateur */

    /* Mise en forme globale */

.nav{
	position : fixed;
	right: 20px;
	top: 20px;
	background-color: $vert;
    box-shadow:0px 3px 10px rgba(0, 0, 0, 0.4);
	z-index: 1;
	overflow: hidden;
	border-bottom: 5px solid $gris;
	
	&.fermee{
		height: 72px;
		overflow: hidden;
	}

	i{
		margin: 20px;
	}

	i:not(.menu){
		margin : 20px 20px 20px 15px;
	}

	.menu{
		color:$noir;
		
		@include transition(0.2s);
	}

	.menu:hover{
		color: $gris;
		cursor: pointer;
	}

	a{
		margin: 0;
		display : block;
		color: $noir;
		text-decoration : none;
		border-left: 5px solid transparent;
		
		@include transition(0.3s);
		
		&.actif{
			border-left: 5px solid #48930d;
		}

		&:hover{
			color : $gris;
			border-left: 5px solid $gris;
		}
	}

	ul{
		margin: 0;
	}

	li{
		list-style : none;
	}
}

    /* Pour le sous-menu */

.sous-liens{
	display:none;
	z-index: 0;
	position: fixed;
	right: 20px;
	top: 164px;
	width: 264px;
	//width: 0px;
	height: 72px;
	
	/*&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.3);
		opacity: 0;
		
		@include transition(0.3s);
	}
	
	&.shadow:after{
		opacity: 1;
	}*/
	
	a{
		position : fixed;
		top: 164px;
		right: 20px;
		background-color:$vertFonce; 
		color: $noir;
		border-bottom: 5px solid transparent;
		display:block;
		z-index:1;
		margin:0;
		text-decoration: none;
		
		@include transition(0.3s);
		
		i{
			margin: 20px 20px 15px 20px;
		}

		&:hover{
			border-bottom: 5px solid $gris;
			color: $gris;
		}
	}
}

    /* Bulles pour indiquer les pages */

.bulle{
	background-color: $vert;
	padding: 10px;
	display: none;
	position: fixed;
	opacity: 0;
	text-align: center;
	border-bottom: 5px solid $gris;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 2;
	
	&::after{
		content:"";
		position: absolute;
		width: 0;
		height: 0;
	}
}

.bulle_1{
	width: 60px;
	right: 90px;
	top: 110px;
	
	&::after{
		left:100%;
		top: 10px;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

.bulle_2{
	width: 60px;
	right: 290px;
	top: 180px;
	
	&::after{
		left:100%;
		top: 10px;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

.bulle_2-1{
	width: 120px;
	right: 80px;
	top: 235px;
	
	&::after{
		left:60%;
		top: -14px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 15px solid $vert;
	}
}

.bulle_2-2{
	width: 90px;
	right: 125px;
	top: 235px;
	
	&::after{
		left:40%;
		top: -14px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 15px solid $vert;
	}
}

.bulle_2-3{
	width: 70px;
	right: 205px;
	top: 235px;
	
	&::after{
		left:40%;
		top: -14px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 15px solid $vert;
	}
}

.bulle_3{
	width: 100px;
	right: 90px;
	top: 250px;
	
	&::after{
		left:100%;
		top: 10px;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

.bulle_4{
	width: 100px;
	right: 90px;
	top: 330px;
	
	&::after{
		left:100%;
		top: 10px;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

.bulle_5{
	width: 140px;
	right: 90px;
	top: 395px;
	
	&::after{
		left:100%;
		top: 10px;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

/* Navigation mobile */

    /* Mise en forme globale */

.nav-mobile{
	position : fixed;
	right: 20px;
	top: 20px;
	background-color: $vert;
	border-bottom: 5px solid $gris;
    box-shadow:0px 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 3;
	overflow: hidden;
	
	&.fermee{
		height: 72px;
		overflow: hidden;
	}

	i{
		margin: 20px;
	}

	.menu{
		color: $noir;
	}
	
	a, span{
		margin: 0;
		display : block;
		color: $noir;
		text-decoration : none;
	}
	
	ul{
		margin: 0;
	}

	li{
		list-style : none;
	}

	.actif{
		border-left: 5px solid #48930d;

		i{
			margin : 20px 20px 20px 15px;
		}
	}
}

     /* Pour le sous-menu */

.sous-liens-mobile{
	position: fixed;
	right: 90px;
	top: 180px;
	width: 179px;
	height: 46px;
	display: none;
	
	/*&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.3);
		opacity: 0;
		@include transition(0.3s);
	}
	
	&.shadow:after{
		opacity: 1;
	}*/
}

.sous-lien-mobile{
	position : fixed;
	top: 180px;
	right: 20px;
	background-color:$vertFonce;
	color: $noir;
	border-bottom: 5px solid transparent;
	display:none;
	z-index:2;
	margin:0;
	
	i{
		margin: 15px 15px 10px 15px;
	}
}

    /* Bulles pour indiquer les pages */ 

.bulle-mobile{
	background-color: $vert;
	display: none;
	position: fixed;
	opacity: 0;
	text-align: center;
	border-bottom: 5px solid $gris;
	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
	
	&::after{
		content:"";
		position : absolute;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-left: 15px solid $vert;
		border-bottom: 10px solid transparent;
	}
}

.bulle_1-mobile{
	padding: 10px;
	width: 60px;
	right: 100px;
	top: 110px;
	z-index:2;
	
	&::after{
		left:100%;
		top: 10px;
	}
}

.bulle_2-mobile{
	padding: 10px;
	width: 70px;
	right: 100px;
	top: 182px;
	z-index:2;
	
	&::after{
		left:100%;
		top: 10px;
	}
}

.bulle_2-0-mobile{
	font-size: 14px;
	padding: 7px;
	width: 100px;
	right: 57px;
	top: 285px;
	transform : rotate(-90deg);
	z-index: 2;
	
	&::after{
		left:99%;
		top: 8px;
	}
}

.bulle_2-1-mobile{
	font-size: 14px;
	padding: 7px;
	width: 100px;
	right: 102px;
	top: 285px;
	transform : rotate(-90deg);
	z-index: 2;
	
	&::after{
		left:99%;
		top: 8px;
	}
}

.bulle_2-2-mobile{
	font-size: 14px;
	padding: 7px;
	width: 100px;
	right: 145px;
	top: 285px;
	transform : rotate(-90deg);
	z-index: 2;
	
	&::after{
		left:99%;
		top: 8px;
	}
}

.bulle_2-3-mobile{
	font-size: 14px;
	padding: 7px;
	width: 100px;
	right: 189px;
	top: 285px;
	transform : rotate(-90deg);
	z-index: 2;
	
	&::after{
		left:99%;
		top: 8px;
	}
}

.bulle_3-mobile{
	padding: 10px;
	width: 100px;
	right: 100px;
	top: 250px;
	z-index: 2;
	
	&::after{
		left:100%;
		top: 10px;
	}
}

.bulle_4-mobile{
	padding: 10px;
	width: 100px;
	right: 100px;
	top: 325px;
	z-index: 2;
	
	&::after{
		left:100%;
		top: 10px;
	}
}

.bulle_5-mobile{
	padding: 10px;
	width: 140px;
	right: 100px;
	top: 395px;
	z-index: 2;
	
	&::after{
		left:100%;
		top: 10px;
	}
}

/* Style pour ordinateur */

@media screen and (min-width: 1367px){
	.nav-mobile, .bulle_1-mobile, .bulle_2-0-mobile, .bulle_2-1-mobile, .bulle_2-2-mobile, .bulle_2-3-mobile, .bulle_3-mobile, .bulle_4-mobile, .bulle_5-mobile, .lien2-0-mobile, .lien2-1-mobile, .lien2-2-mobile, .lien2-3-mobile{
        display:none;
    }
}

/* Style pour tablettes */

@media screen and (max-width: 1366px) and (min-width: 668px){
	.nav, .bulle_1, .bulle_2, .bulle_2-1, .bulle_2-2, .bulle_2-3, .bulle_3, .bulle_4, .bulle_5{
        display:none;
    }
}

/* Style pour téléphones */

@media screen and (max-width: 667px){
	.nav, .bulle_1, .bulle_2, .bulle_2-1, .bulle_2-2, .bulle_2-3, .bulle_3, .bulle_4, .bulle_5{
        display:none;
    }
}